# Data manipulation and analysis
numpy>=1.21.0
pandas>=1.3.0
praw>=7.4.0

# Visualization
seaborn>=0.11.0
matplotlib>=3.4.0
plotly>=5.1.0

# Machine Learning
scikit-learn>=0.24.0
torch>=2.2.0
transformers==4.35.2

# Text Processing
wordcloud>=1.8.0
nltk==3.8.1
emoji==2.8.0
